/* Shop phase */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header .icons div,
.header .icons a, .header .search-form label, .products .box-container .box .icons a, .featured .featured-slider .slide .icons a, .contact .icons-container .icons i {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem black;
}
.header .icons div:hover,
.header .icons a:hover, .header .search-form label:hover, .products .box-container .box .icons a:hover, .featured .featured-slider .slide .icons a:hover, .contact .icons-container .icons i:hover {
  -webkit-text-stroke: 0.1rem #dd2476;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
section {
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: black;
  padding-bottom: 2rem;
  text-align: center;
}
.heading span {
  color: #dd2476;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  border-radius: .5rem;
  background: #dd2476;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: rgb(62, 203, 177);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
}
.header .logo {
  font-size: 2.5rem;
  color: #2e2c2caf;
  font-weight: bolder;
}
.header .logo i {
  color: #dd2476;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color:rgb(62, 203, 177);
}
.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  margin-left: 2rem;
}
#menu-btn {
  display: none;
}

/* Home */
.home {
  padding: 0;
  padding-top: 7.6rem;
}
.home .home-slider .slide {
  min-height: 65vh;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  padding-left: 7%;
  background-size: cover;
  background-position: center;
}
.home .home-slider .slide .content span {
  font-size: 2rem;
  color: #666;
}
.home .home-slider .slide .content h3 {
  font-size: 6rem;
  color: black;
  padding-top: .5rem;
}

/* discount */
.banner-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.banner-container .banner {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  overflow: hidden;
  height: 30rem;
  position: relative;
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner-container .banner .content span {
  font-size: 2rem;
  color: #dd2476;
}
.banner-container .banner .content h3 {
  font-size: 3.2rem;
  color: black;
  padding-top: .5rem;
}

/* Products */
.products .filter-buttons {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.products .filter-buttons .buttons {
  font-size: 1.7rem;
  color: #666;
  cursor: pointer;
}
.products .filter-buttons .buttons:hover, .products .filter-buttons .buttons.active {
  color: rgb(62, 203, 177);
}
.products .box-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.products .box-container .box {
  width: 40rem;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.products .box-container .box.hide {
  display: none;
}
.products .box-container .box .icons {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: .5rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: .5rem;
}
.products .box-container .box:hover .icons {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.products .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.products .box-container .box .content {
  padding: 1rem 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: black;
  font-weight: normal;
}
.products .box-container .box .content .price {
  padding: .5rem 0;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.products .box-container .box .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: black;
}
.products .box-container .box .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}
.products .box-container .box .content .price .offer {
  font-size: 2rem;
  color: #dd2476;
}

/* Products featured */
.featured .swiper {
  width: 100%;
  height: 100%;
}
.featured .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact */
.contact .icons-container {
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.contact .icons-container .icons {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
.contact .icons-container .icons i {
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.contact .icons-container .icons h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: black;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}
.contact .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}
.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: black;
}
.contact .row form .inputBox {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact .row form .inputBox input {
  width: 49%;
}
.contact .row form .inputBox input,
.contact .row form textarea {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: black;
  text-transform: none;
  margin: .7rem 0;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
.contact .row .map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}

/* footer */
.footer {
  background: #f9f9f9;
}
.footer .box-container {

  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: black;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a i {
  padding-right: .5rem;
  color: #dd2476;
}
.footer .box-container .box a:hover {
  color:rgb(62, 203, 177);
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .share {
  padding-top: 2rem;
  text-align: center;
}
.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: black;
  color: #fff;
  margin: .3rem;
}
.footer .share a:hover {
  background: rgb(62, 203, 177);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer .credit {
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #666;
  font-size: 2rem;
}
.footer .credit span {
  color: #dd2476;
}

/* home media */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;
  }
  .header .search-form.active {
    right: 0;
  }
  .home .home-slider .slide {
    padding-left: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .banner-container .banner .content {
    right: 2rem;
  }
  .banner-container .banner .content h3 {
    font-size: 2rem;
  }
  .products .box-container .box {
    width: 100%;
  }
  .deal .image img {
    width: 100%;
  }
  .deal .content {
    padding-top: 2rem;
    text-align: center;
  }
  .featured .swiper-button-next,
  .featured .swiper-button-prev {
    display: none;
  }
  .blogs .swiper-button-next,
  .blogs .swiper-button-prev {
    display: none;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}

