<app-nav (onTogglenav)="onTogglenav($event)"></app-nav>
<div class="categorias" [ngClass]="getCategoriasClass()">
    <h1>categorias</h1>
    <div class="page-wrapper">
        <div class="wrapper wrapper--w780">
            <div class="card card-4">
                <div class="card-body">
                    <div class="container">
                        <h5 class="modal-title">categorias</h5>
                        <div class="row">
                            <div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label>codigo</label>
                                        <input type="text" class="form-control" id="codigo" [(ngModel)]="codigo">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button type="button" class="btn btn--radius-2 btn--blue" *ngIf="idseleccionado == ''"
                                        (click)="Guardar()">Guardar</button>
                                    <button type="button" class="btn btn--radius-2 btn--blue" *ngIf="idseleccionado == ''"
                                        (click)="Nuevo()">Nuevo</button>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of misdatos">
                                        <td>{{item.codigo}}</td>
                                        <td>{{item.nombre}}</td>
                                        <td><button type="button" class="btn btn-info" (click)="Editar(item._id)"><i
                                                    class="fas fa-pencil"></i></button></td>
                                        <td><button type="button" class="btn btn-danger" (click)="Eliminar(item._id)"><i
                                                    class="fas fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Modal
<div class="modal fade" id="modalproductos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>codigo</label>
                            <input type="text" class="form-control" id="codigo" [(ngModel)]="codigo">
                        </div>
                        <div class="form-group col-md-8">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <textarea class="form-control" id="descripcion" [(ngModel)]="descripcion" rows="3"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Nuevo</label>
                            <select id="nuevo" [(ngModel)]="nuevo" class="form-control">
                                <option selected>Seleccione</option>
                                <option>Si</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Destacado</label>
                            <select id="destacado" [(ngModel)]="destacado" class="form-control">
                                <option selected>Seleccione</option>
                                <option>Si</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Precio</label>
                            <input type="text" class="form-control" id="precio" [(ngModel)]="precio">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Descuento</label>
                            <input type="text" class="form-control" id="descuento" [(ngModel)]="vrdescuento">
                        </div>
                    </div>
                    <div class="form-row">
                        <app-subirarchivos [urldestino]="item.destino" [path]="item.path" [fileName]="'userFile'">
                        </app-subirarchivos>
                        <img [src]="'userFile'" style="height: 80px; width: 100px; align-content: center;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn--radius-2 btn--blue" *ngIf="idseleccionado == ''"
                        (click)="Guardar()">Guardar</button>
                    <button type="button" class="btn btn--radius-2 btn--blue" *ngIf="idseleccionado != '' "
                        (click)="Actualizar()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

</div>
-->