* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header .icons div,
.header .icons a,
.header .search-form label,
.products .box-container .box .icons a,
.featured .featured-slider .slide .icons a,
.contact .icons-container .icons i {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem black;
}

.header .icons div:hover,
.header .icons a:hover,
.header .search-form label:hover,
.products .box-container .box .icons a:hover,
.featured .featured-slider .slide .icons a:hover,
.contact .icons-container .icons i:hover {
  -webkit-text-stroke: 0.1rem #dd2476;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
}

.header .logo {
  font-size: 1.5rem;
  color: #2e2c2caf;
  font-weight: bolder;
}

.header .logo i {
  color: #dd2476;
}

.header .icons div,
.header .icons a {
  font-size: 1.5rem;
  margin-left: 2rem;
}

#menu-btn {
  display: none;
}
.row {
  background-color: whitesmoke; 
  padding: 2rem;
}
.row table{
  margin-top: 6rem; margin-left: 1rem;
}
.col-lg-3 {
  margin-top: 6.5rem;
  margin-left: 9rem;
}
.border-bottom input {
  padding: 5px;
  text-align: center;
}

.pt-2 a{
  background-color: salmon;
}
.pt-2 a:hover{
  background-color: rgb(62, 203, 177);
}
.salida:hover{
  color:rgb(62, 203, 177);
}

/* footer */
.footer {
  background: #fff;
}

.footer .credit {
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #666;
  font-size: 1.5rem;
}

.footer .credit span {
  color: #dd2476;
}